<!DOCTYPE html>
<html>
    <head>
        <title>Deadlines</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
    </head>

    <body>
        <h1>Deadlines</h1>

        <hr>
        <p class="header-buttons">
            <input type="button" class="button" onclick="window.location.href='/add-subject';" value="Add Subject">
            <input type="button" class="button" onclick="window.location.href='/add-deadline';" value="Add Deadline">
            <input type="button" class="button" onclick="window.location.href='/remove-deadline';" value="Remove Deadline">
        </p>
        <hr>

        <table id="deadlines">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Task</th>
                    <th>Subject</th>
                    <th>Type</th>
                    <th>Deadline</th>
                    <th>Days left</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
                {% set ns = namespace(i = 1) %}
                {% for deadline in deadlines %}
                    {% if deadline['days_left'] <= 3 and deadline['status'] == "pending" %}
                        <tr style="background-color: red;">
                    {% elif deadline['status'] == "pending" %}
                        <tr style="background-color: lightyellow;">
                    {% elif deadline['status'] == "completed" %}
                        <tr style="background-color: lightgreen;">
                    {% endif %}
                        <td>{{ns.i}}</td>
                        <td>{{deadline['task']}}</td>
                        <td>{{deadline['subject']}}</td>
                        <td>{{deadline['type']}}</td>
                        <td>{{deadline['deadline']}}</td>
                        <td>{{deadline['days_left']}}</td>
                        <td>{{deadline['status']}}</td>
                        <td>
                            <button type="button" id="{{deadline['task']}}" class="button edit-btn">Edit</button>
                        </td>
                    </tr>
                    {% set ns.i = ns.i + 1 %}
                {% endfor %}
            </tbody>
        </table>
    
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/fastquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>